<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalizedUsageDescription</key>
	<dict>
		<key>New item</key>
		<string></string>
		<key>NSCameraUsageDescription</key>
		<string>Kameranız, AR deneyimi için kullanılacaktır.</string>
	</dict>
</dict>
</plist>
